<% if (locals.message) { %>
  <div class="<%= locals.messageClass || 'success' %>" id="message">
      <% if (Array.isArray(locals.message)) { %>
        <% locals.message.forEach(msg => { %>
          <p class="<%= locals.messageClass || 'success' %>-text"><%= msg %></p>
        <% }) %>
      <% } else { %>
        <p class="<%= locals.messageClass || 'success' %>-text"><%= locals.message %></p>
      <% } %>
  </div>
<% } %>

<p>Please fill in the form and click the submit button.</p>

<p>We will contact you asap.  Thank you!</p>

<form class="contact-us" action="/contact-us" method="post">
  <label for="name">Name</label>
  <input class="required" type="text" id="name" name="name" onkeyup="toggleSubmit()">
  <label id="gender" for="gender">Gender</label>
  <input class="required" type="text" id="gender" name="gender" onkeyup="toggleSubmit()">
  <input disabled="disabled" type="submit" value="Submit" id="contact-submit">
</form>

<script>
  const clearMessages = () => {
    const message = document.getElementById('message')

    if (message) message.remove()
  }

  const toggleSubmit = () => {
    clearMessages()

    const inputs = document.getElementsByClassName('required')
    const submitButton = document.getElementById('contact-submit')

    let isDisabled = false

    for (input of inputs) {
      if (input.value === "") {
        isDisabled = true
        break
      }
    }

    submitButton.disabled = isDisabled
  }
</script>
